langchain-google-genai
langchain-cohere
cohere<5.6
langchain-community
faiss-cpu
python-dotenv
slackclient
slack_bolt
slackeventsapi
matplotlib
pandas
numpy
boto3
semantic-router
sqlalchemy
rank_bm25
requests
psycopg[binary, pool]
fastembed
flashrank
fastapi
uvicorn[standard]